
@model QUANLY_KHACHSAN.Models.Nhanvien

@{
    Layout = "_StaffLeTanLayout";
    ViewData["Title"] = "Nhân viên";
}

<div class="text-center">
    <h1 class="display-4"><b><a style="color:red;">MINH NHỰT HOTEL</a></b></h1>
    <h2>Xin chào nhân viên lễ tân</h2>
</div>