
@model QUANLY_KHACHSAN.Models.Nhanvien

@{ 
    ViewData["Title"] = "Nhân viên";
    Layout = "_StaffNhaBepLayout";
}

<div class="text-center">
    <h1 class="display-4"><b><a style="color:red;">MINH NHỰT HOTEL</a></b></h1>
    <h2>Xin chào nhân viên nhà bếp</h2>
</div>