@model QUANLY_KHACHSAN.Models.Nhanvien

@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "_ManagerLayout";
}
<div class="text-center">
    <h2 class="display-4" style="color: red;">THÊM NHÂN VIÊN MỚI</h2>
</div>

<div class="container mt-5">
    <form asp-action="Create" method="post">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Hoten" class="font-weight-bold">Họ tên</label>
                    <input type="text" asp-for="Hoten" class="form-control" />
                    <span asp-validation-for="Hoten" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Gioitinh" class="font-weight-bold">Giới tính</label>
                    <select asp-for="Gioitinh" class="form-control">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    <span asp-validation-for="Gioitinh" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Ngaysinh" class="font-weight-bold">Ngày sinh</label>
                    <input type="date" asp-for="Ngaysinh" class="form-control" placeholder="DD/MM/YYYY" />
                    <span asp-validation-for="Ngaysinh" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Sdt" class="font-weight-bold">Số điện thoại</label>
                    <input type="tel" asp-for="Sdt" class="form-control" placeholder="+84123456789" />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="font-weight-bold">Email</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="abc@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Diachi" class="font-weight-bold">Địa chỉ</label>
                    <input type="text" asp-for="Diachi" class="form-control" />
                    <span asp-validation-for="Diachi" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ChucVu" class="font-weight-bold">Chức vụ</label>
                    <select asp-for="ChucVu" class="form-control">
                        <option value="">-- Chọn chức vụ --</option>
                        <option value="Quản Lý">Quản Lý</option>
                        <option value="Lễ Tân">Lễ Tân</option>
                        <option value="Bảo vệ">Bảo Vệ</option>
                        <option value="Nhà Bếp">Nhà Bếp</option>
                        <option value="Tạp Vụ">Tạp Vụ</option>
                    </select>
                    <span asp-validation-for="ChucVu" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 d-flex justify-content-start">
                <a asp-action="NhanvienList" class="btn btn-warning btn-block mr-auto">Xem danh sách nhân viên</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-block ml-auto">Tạo nhân viên</button>
            </div>
        </div>
    </form>
</div>