@model Loaikhach
@{
    ViewData["Title"] = "Chỉnh sửa loại khách";
    Layout = "_ManagerLayout";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h2 class="display-4" style="color:red;">CẬP NHẬT LOẠI KHÁCH</h2>
            </div>
            <form asp-action="UpdateClientType" method="post">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Tenloaikhach" class="font-weight-bold">Tên khách</label>
                            <input type="text" asp-for="Tenloaikhach" class="form-control" />
                            <span asp-validation-for="Tenloaikhach" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 d-flex justify-content-start">
                        <a asp-action="ClientType" class="btn btn-warning btn-block mr-auto">Xem danh sách loại khách</a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-block ml-auto">Tạo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
