
@model QUANLY_KHACHSAN.Models.Taikhoan

@{
    ViewData["Title"] = "Đăng nhập";
}
@if (ViewBag.accname != null)
{
    <p>@ViewBag.accname</p>
}


@if (!string.IsNullOrEmpty(ViewBag.accname))
{
    <a href="/Account/Logout">Log out</a>
}